@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *{
        @apply m-0 p-0 ;
    }
    h1{
        @apply text-heading font-bold;
    }
    h2{
        @apply text-large font-semibold text-center;
    }
    h3{
        @apply text-medium font-semibold;
    }
    h4{
        @apply text-medium font-medium;
    }
    button{
        @apply px-5 py-2 bg-ourBlue text-white text-average rounded-md;
    }
    nav{
        @apply w-full p-5 bg-white flex items-center justify-between;
    }
    footer{
        @apply w-full py-5 flex items-center justify-between bg-white px-5 md:px-40;
    }
    a{
        @apply cursor-pointer;
    }
}

.nav__links{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.nav__link{

}