@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *{
        @apply m-0 p-0 ;
    }
    h1{
        @apply text-heading font-bold;
    }
    h2{
        @apply text-large font-semibold text-center;
    }
    h3{
        @apply text-medium font-semibold;
    }
    h4{
        @apply text-medium font-medium;
    }
    button{
        @apply px-5 py-2 bg-ourBlue text-white text-average rounded-md;
    }
    nav{
        @apply w-full p-5 bg-white flex items-center justify-between;
    }
    footer{
        @apply w-full py-5 flex items-center justify-between bg-white px-5 md:px-40;
    }
    a{
        @apply cursor-pointer;
    }
    .theme__container{
        @apply w-full flex items-center justify-center flex-col py-20;
    }
    .theme{
        @apply bg-ourBlue-secondary_light text-white flex items-center justify-center cursor-pointer mb-5 py-5 hover:bg-ourBlue-main_light border-2 border-ourBlue transition-all duration-200 ease-in rounded-md;
    }
    .selected__theme{
        @apply bg-gray-50 text-ourBlue hover:bg-gray-50;
    }
    .filter__nextback__container{
        @apply w-80 flex items-center justify-center;
    }
    .filter__inactive__option{
        @apply bg-white text-ourBlue;
    }
    .filter__back__option,
    .filter__next__option,
    .filter__inactive__option{
        @apply w-36 border-2 border-ourBlue transition-all duration-200 ease-in;
    }
    .text__linking{
        @apply text-ourBlue underline;
    }
}

.nav__links{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.theme{
    width: 140px;
}

.theme__container__themes{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
}